N26Test286/WebContent/wsdl/StatisticService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test.com" xmlns:intf="http://test.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getStatisticInJSON">
    <complexType/>
   </element>
   <element name="getStatisticInJSONResponse">
    <complexType>
     <sequence>
      <element name="getStatisticInJSONReturn" type="impl:Statistic"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Statistic">
    <sequence>
     <element name="avg" nillable="true" type="xsd:double"/>
     <element name="count" nillable="true" type="xsd:long"/>
     <element name="max" nillable="true" type="xsd:double"/>
     <element name="min" nillable="true" type="xsd:double"/>
     <element name="sum" nillable="true" type="xsd:double"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getStatisticInJSONRequest">

      <wsdl:part element="impl:getStatisticInJSON" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStatisticInJSONResponse">

      <wsdl:part element="impl:getStatisticInJSONResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StatisticService">

      <wsdl:operation name="getStatisticInJSON">

         <wsdl:input message="impl:getStatisticInJSONRequest" name="getStatisticInJSONRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStatisticInJSONResponse" name="getStatisticInJSONResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StatisticServiceSoapBinding" type="impl:StatisticService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStatisticInJSON">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStatisticInJSONRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStatisticInJSONResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StatisticServiceService">

      <wsdl:port binding="impl:StatisticServiceSoapBinding" name="StatisticService">

         <wsdlsoap:address location="http://localhost:8080/N26Test286/services/StatisticService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
